.image-container {
  position: relative;
  text-align: center;
  color: white;
  height: 100vh; 
  overflow: hidden; 
}

.photo-text {
  position: absolute;
  top: 90%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.myMenu {
  background-color: black !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
}

.myMenu .item {
  color: white !important;
}

.about-me-card {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.wide-card {
  width: 80% !important;
  text-align: center;
}

.card-content-flex {
  display: flex;
  flex-direction: row;
}

.card-content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


